<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interactive D3 Chart with Inputs</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <script defer src="{{url_for('static', filename='selectioncontrols.js')}}"></script>
    <script defer src="{{url_for('static', filename='chart.js')}}"></script>
</head>
<body>



<div class="container" id="select-option-container">
    
    <label for="sitename-select">Site Name</label>
    <select name="sitename-select" id="sitename-select">
    </select>
    <br>
    <label for="bmp-select">BMP Name</label>
    <select name="bmp-select" id="bmp-select">
    </select>
    
    <!-- Updated analyte section -->
    <br>
    <input type="checkbox" id="show-analytes" checked>
    <label for="show-analytes">Show/Hide list of analytes</label>
    <div id="analyte-container">
    </div>

</div>




<div id="chart"></div>

<script>
   
</script>
</body>
</html>
