* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;

}

.container {
    margin-bottom: 20px;
}

select, input {
    padding: 10px;
    margin: 5px 5px 5px 0; /* Spacing around inputs and selects */
    border: 1px solid #ccc;
    border-radius: 5px;
}

#chart {
    width: 100%;
    height: 400px;
}



/* Adjustments for disabled rows */
.analyte-row.disabled .analyte-name,
.analyte-row.disabled input[type="number"] {
    opacity: 0.5;
    pointer-events: none;
}




/* Styles that will apply when the viewport width is 900px or more */
@media (min-width: 1135px) {
    #select-option-container {
      width: 70%;
      margin: auto;
    }
  }
  
  /* Starter styles for when the viewport width is less than 900px */
  @media (max-width: 1134px) {
    #select-option-container {
      /* Define your styles for mobile here */
      width: 100%; /* Example: make the container full width on smaller screens */
      margin: auto;
    }
  }
  

  